
.features {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 32px;
  padding: 0 20rem;
}


@media screen and (max-width: 996px) {
  .features {
    flex-direction: column;
    padding: 0 2rem;
  }

  .feature {
    width: 100%
  }
}

.feature {
  flex: 1;
  border: 1px solid #dfe7fb;
  border-radius: 10px;
  display: flex;
  padding: 32px;
  gap: 32px;
  height: 180px;
  & h3 {
    margin-bottom: 0px
  }
}

.featureContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  & p {
    font-size: 14px;
  }
}

.featureIconWrapper {
  flex-shrink: 0;
}

.featureIcon {
  height: 50px;
  width: 50px;
}
